.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__group {
        display: flex;
        width: 100%;
        gap: 1.5rem;

        &--hero-header-section {
            align-items: flex-start;
        }
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex-basis: 100%;

        &--hero-header-section {
            height: 7.1rem;
            flex-basis: 50%;
        }
    }

    &__input {
        padding: .8rem 2rem;
        border-radius: $border-radius-normal;
        font-size: 1.3rem;
        outline: none;
        border: .1rem solid transparent;
        height: 100%;
        width: 100%;
        transition: $transition-default;

        &--hero-header-section {
            border: .1rem solid rgb(156, 156, 156);
            height: 4rem;

            &:focus {
                border: .1rem solid rgb(36, 36, 36);
            }
        }
    }

    &__input-message {
        color: $color-7;
        font-size: 1.2rem;
        width: 100%;
        display: none;
    }

    &__input:not(:valid) {
        border: .1rem solid $color-7 ;
    }

    &__input:not(:valid)~&__input-message {
        display: block;
    }
}