.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;


    @include respond(phone) {
        flex-wrap: wrap;

        &>* {
            flex-basis: 100%;
            width: 100%;
        }
    }

    &__group {
        display: flex;
        width: 100%;
        gap: 1.5rem;

        &--hero-header-section {
            align-items: flex-start;
        }

        @include respond(phone) {
            flex-wrap: wrap;

            &>* {
                flex-basis: 100%;
            }
        }

    }

    &__input-group {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex-basis: 100%;

        &--hero-header-section {
            height: 7.1rem;
            flex-basis: 50%;

            @include respond(phone) {
                height: auto;
                flex-basis: 100%;
            }
        }
    }

    &__input {
        padding: .8rem 2rem;
        border-radius: $border-radius-normal;
        font-size: 1.3rem;
        outline: none;
        border: .1rem solid transparent;
        height: 100%;
        width: 100%;
        transition: $transition-default;

        &--hero-header-section {
            border: .1rem solid rgb(156, 156, 156);
            height: 4rem;

            @include respond(phone) {
                height: auto;

            }

            &:focus {
                border: .1rem solid rgb(36, 36, 36);
            }
        }

        &--get-started-section {
            padding: 1.2rem 2rem;
        }

        @include respond(phone) {
            font-size: 1.6rem;
            padding: 1rem 2rem;
        }
    }

    &__input-message {
        color: $color-7;
        font-size: 1.2rem;
        width: 100%;
        display: none;
        text-align: start;

        &--get-started-section {
            color: $color-5;
        }

        font-size: 1.4rem;
    }

    &__input:not(:valid) {
        border: .1rem solid $color-7 ;
    }

    &__input:not(:valid)~&__input-message {
        display: block;
    }
}