@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

ul,
ol {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #070439; }

.row {
  max-width: 170rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc(100% / 2 - (3rem / 2)); }
  .row .col-1-of-3 {
    width: calc(100% / 3 - (3rem * 2 / 3)); }
  .row .col-2-of-3 {
    width: calc((100% / 3 - (3rem * 2 / 3)) * 2 + 3rem); }
  .row .col-1-of-4 {
    width: calc(100% / 4 - (3rem * 3 / 4)); }
  .row .col-2-of-4 {
    width: calc((100% / 4 - (3rem * 3 / 4)) * 2 + 3rem); }
  .row .col-3-of-4 {
    width: calc((100% / 4 - (3rem * 3 / 4)) * 3 + (3rem * 2)); }

.header {
  margin: 4rem;
  height: 5rem; }
  .header__logo-box {
    display: block;
    float: left;
    width: 16rem;
    height: 5rem;
    overflow: hidden; }
  .header__logo {
    display: block;
    width: 100%;
    height: 100%; }
  .header__list {
    float: right; }
  .header__item {
    display: inline-block;
    line-height: 5rem; }
    .header__item:not(:last-child) {
      margin-right: 6rem; }
  .header__link {
    color: #070439;
    text-decoration: none;
    text-transform: capitalize;
    transition: opacity .2s; }
    .header__link:hover {
      opacity: .7;
      cursor: pointer; }
