.header {
    width: 100%;
    padding: 4.5rem 0;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__logo-box {
        display: block;
        flex-basis: 16rem;
        overflow: hidden;

        @include respond(phone) {
            flex-basis: 10rem;
        }
    }

    &__logo {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__list {
        align-self: center;
        display: flex;
        gap: 6rem;

        @include respond(phone) {
            gap: 3rem;
        }
    }

    &__link {
        color: $color-1;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        text-transform: capitalize;
        transition: $transition-default;
        cursor: pointer;

        &:hover {
            opacity: .7;

        }
    }
}