.hero-header {
    width: 100%;
    padding: 4.5rem 0;

    &__content {
        display: flex;
        gap: 5rem;
    }

    &__left {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__right {
        flex-basis: 50%;
    }

    &__img {
        width: 100%;
    }
}